@import 'nib'

global-reset()
reset-html5()

@import 'partials/typo'

body
  background: #efefef
  padding: 0
  margin: 0

header, footer
  font-size: 11px
  margin: 20px 0
  display: none
  visibility: hidden
